
.li1,.li2{
    list-style: none;
}
.li1{
    color:green;
    font-size: 10px;
    float: left;
    height:13px;
    width:35px;
    margin:2px 1px;
    font-family: 华文琥珀;
}
.li2{
    color: orange;
    font-size:19px;
    height: 20px;
    margin: 10px 20px;
    font-family: 华文琥珀;
}
.dd{
    background-image: url("bg.gif");
    width: 980px;
    height: 660px;
}
.rr{
    width: 200px;
    height:643px;
}
.cc{
    width:198px;
    height:110px;
    margin:39px -12px;
}
.cr{
    height:1px;
}
#table{
    width:510px;
    height:150px;
}
.td{
    width: 20px;
    height: 10px;
}
a{
    text-decoration:none;
}
.gg{
    float: right;
    margin:-412px 250px;
}
.oi{
    font-size: 12px;
}
.wc{

    width: auto;
    height: 30px;
}
.re{
    width: 25px;
    height: 25px;
}
.wj{

    width: 450px;
    height: 27px;
    margin-left: 530px;
}
