@charset "utf-8";
/* CSS Document */
.sidebar{
	padding-top:200px;
	width:0px;
	height:450px;
}


#footer{
	background:#0F3;
	width:100%;
	height:100px;
}
#footer li{
	text-align:center;
	vertical-align:middle;
	background:#0C6;
	font:16px;
}
