#header{
    width:960px;
    height:100px;
    margin:0px auto;
}
.logo{
    width:170px;
    height:65px;
    position: absolute;
    left:400px;
    top:20px;
}
.a1{
    width:500px;
    height:25px;
    position: absolute;
    left:570px;
    top:10px;
}
.a2{

    width:486px;
    height:50px;
    position: absolute;
    left:570px;
    top:37px;
}
.a12{
    list-style: none;
    font-size:15px;
    margin-left: -25px;
}.wq{
     text-decoration:none;
     color:cadetblue;
     float:left;
     width:70px;
     margin-top:-10px;
 }
.a21{
    border:none;
    font-size:20px;
    width:350px;
    height:36px;
   float: right;
}
.a22{
    width:70px;
    height:40px;
    background-color:#00E8E8;
    float: right;
    margin-top:-45px;
}
.a23{
    width:43px;
    height:43px;
}
.a24{
   border: 5px solid cornflowerblue;
    width:400px;
    height:42px;
}