.head{
    background: url("guimei.jpg") no-repeat;
    width: 1024px;
    height: 152px;
    margin: auto;
}
.h-1{
    width: 720px;
    height: 20px;
    padding-top: 90px;
}
.h-1 ul li {
    list-style: none;
    float: left;
    padding:  1px 13px;
}
a:link{
    text-decoration: none;
}
.h-1 a:hover{
    background: url("nav_bg.gif");
    border-radius: 30px;
}
.h-3{
    width: 500px;
    height: 45px;
    float: right;
    margin-left: 150px;
    margin-top: -130px;
}
.h-4{
    width: 600px;
    height: 35px;
    float: right;
    margin-top: -85px;
}
.h-3 ul li{
    float: left;
    list-style: none;
}
.zi{
    font-size: 13px;
    text-decoration: none;
    color: black;
}
.pic{
    background: url("all.gif") no-repeat;
    width: 28px;
    height: 28px;
}
.pic2{
    background-position: -28px -1px;
}
.pic3{
    background-position: -56px -1px;
}
.pic4{
    background-position: -84px -1px;
}
.pic5{
    background-position: 1px -28px;
}
.su{
    width: 45px;
    height: 15px;
}
.h-3 ul li a{
    padding: 5px 5px 3px;
}
