.RU{
    margin-left:auto;
}
.biao{
    width: 220px;
    height: 100px;
}
.tru{
    width:100px;
    height:30px;
    margin-right:auto;
    border-radius: 20px;
    background-color: burlywood;
}